apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: swarm-runners-deployment
  namespace: actions-runner-system
spec:
  replicas: 1 # Puedes ajustar este número según cuántos runners concurrentes necesites
  template:
    spec:
      # Basado en GITHUB_SCOPE_ORG y GITHUB_SCOPE, asumo que es un runner a nivel de repositorio.
      # Si quisieras que los runners estuvieran disponibles para toda la organización "Ka0s-Klaus",
      # deberías reemplazar "repository" por "organization: Ka0s-Klaus".
      repository: Ka0s-Klaus/Ka0s
      image: ka0score/actions-runner:1.0.3
      group: swarm-runners
      labels:
        - self-hosted
        - linux
        - x64
        - swarm-runners
      # Los runners son efímeros por defecto, pero lo dejamos explícito para mayor claridad.
      # Un runner efímero ejecuta un solo job y luego es eliminado y reemplazado.
      ephemeral: true