apiVersion: apps/v1
kind: Deployment
metadata:
  name: itop
  namespace: itop
  labels:
    app: itop
    core.kaos.io/type: b2b-core
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: itop
  template:
    metadata:
      labels:
        app: itop
    spec:
      nodeSelector:
        kubernetes.io/hostname: k8-node-20
      initContainers:
        - name: init-itop-files
          image: vbkunin/itop:latest-base
          command: 
            - 'sh'
            - '-c'
            - |
              cp -r /var/www/html/. /web-data/ && \
              if [ -f /web-data/conf/production/config-itop.php ]; then \
                 echo "Modifying config-itop.php..." && \
                 sed -i "s|'app_root_url' => .*|'app_root_url' => '',|" /web-data/conf/production/config-itop.php; \
              fi && \
              chown -R 33:33 /web-data
          volumeMounts:
            - name: itop-web-persistent-storage
              mountPath: /web-data
      containers:
        - name: itop
          image: vbkunin/itop:latest-base
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          ports:
            - containerPort: 80
          env:
            - name: ITOP_DB_HOST
              value: "mysql"
            - name: ITOP_DB_NAME
              value: "itop"
            - name: ITOP_DB_USER
              value: "admin"
            - name: ITOP_DB_PASSWORD
              value: "admin"
          volumeMounts:
            - name: itop-web-persistent-storage
              mountPath: /var/www/html
      volumes:
        - name: itop-web-persistent-storage
          persistentVolumeClaim:
            claimName: itop-web-pvc