apiVersion: apps/v1
kind: Deployment
metadata:
  name: itop
  namespace: itop
  labels:
    app: itop
    core.kaos.io/type: finops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: itop
  template:
    metadata:
      labels:
        app: itop
    spec:
      initContainers:
        - name: init-itop-files
          image: vbkunin/itop:latest-base
          command: ['sh', '-c', 'cp -r /var/www/html/. /web-data/ && chown -R 33:33 /web-data']
          volumeMounts:
            - name: itop-web-persistent-storage
              mountPath: /web-data
      containers:
        - name: itop
          image: vbkunin/itop:latest-base
          ports:
            - containerPort: 80
          env:
            - name: ITOP_DB_HOST
              value: "mysql"
            - name: ITOP_DB_NAME
              value: "itop"
            - name: ITOP_DB_USER
              value: "admin"
            - name: ITOP_DB_PASSWORD
              value: "admin"
          volumeMounts:
            - name: itop-web-persistent-storage
              mountPath: /var/www/html
      volumes:
        - name: itop-web-persistent-storage
          persistentVolumeClaim:
            claimName: itop-web-pvc