apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: soc

resources:
  - namespace.yaml
  - wazuh-indexer-pv.yaml
  - wazuh-indexer-pvc.yaml
  - wazuh-manager-pv.yaml
  - wazuh-manager-pvc.yaml
  - 00-wazuh-certs-generator-v8.yaml
  - 03-indexer.yaml
  - 04-manager.yaml
  - 05-dashboard.yaml
  - 06-agent-config.yaml
  - 06-agent-daemonset.yaml
  - 99-security-init-job-v5.yaml
  # Deploy base

# Force restart core services Tue Feb 11 10:30:00 CET 2026 - Official Certs V8
