apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: soc

# force deploy 2026-02-12
resources:
  - 00-setup-job.yaml
  - namespace.yaml
  - wazuh-indexer-pv.yaml
  - wazuh-manager-pv.yaml
  - storage.yaml
  - 01-wazuh-indexer.yaml
  - 02-wazuh-manager.yaml
  - 03-dashboard-config.yaml
  - 03-wazuh-dashboard.yaml
  - 04-wazuh-security-init.yaml

commonLabels:
  environment: production
  project: ka0s-soc
