apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: soc

resources:
  - namespace.yaml
  - wazuh-indexer-pv.yaml
  - wazuh-indexer-pvc.yaml
  - wazuh-manager-pv.yaml
  - wazuh-manager-pvc.yaml
  - 00-wazuh-certs-generator.yaml
  - 03-indexer.yaml
  - 04-manager.yaml
  - 05-dashboard.yaml
  - 06-agent-config.yaml
  - 06-agent-daemonset.yaml
  - 99-security-init.yaml
  # Deploy base

# Force restart core services Tue Feb 11 11:30:00 CET 2026 - Security Init V10 Fix
# Official Wazuh Certs Tool Implementation - Force Deploy
# Force CD run v10 verification - Status Check
