apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: soc

resources:
  - 00-certs-generator.yaml
  - namespace.yaml
  - storage.yaml
  - 01-wazuh-indexer.yaml
  - 02-wazuh-manager.yaml
  - 03-wazuh-dashboard.yaml
  - 04-wazuh-security-init.yaml

commonLabels:
  environment: production
  project: ka0s-soc
