apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - wazuh-namespace.yaml
  - wazuh-storage.yaml
  - wazuh-indexer-config.yaml
  - wazuh-indexer-sts-fix.yaml
  - wazuh-manager.yaml
  - wazuh-dashboard-config.yaml
  - wazuh-dashboard.yaml
  - wazuh-agent.yaml
