<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>handler Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
     <!-- Encabezado -->
     <header class="bg-white shadow-sm rounded-lg p-6 mb-6">
        <h1 class="text-2xl font-bold text-gray-800"></h1>
        <p class="text-gray-600"></p>
    </header>
    <div class="container mx-auto px-4 py-8">
     <!-- Estadísticas -->
     <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
        <div class="bg-green-50 rounded-lg p-4 shadow-sm">
            <h2 class="text-lg font-semibold text-green-800"></h2>
            <p class="text-3xl font-bold text-green-600" id="metric1">-</p>
        </div>
        <div class="bg-blue-50 rounded-lg p-4 shadow-sm">
            <h2 class="text-lg font-semibold text-blue-800"></h2>
            <p class="text-3xl font-bold text-blue-600" id="metric2">-</p>
        </div>
        
        <div class="bg-purple-50 rounded-lg p-4 shadow-sm">
            <h2 class="text-lg font-semibold text-purple-800"></h2>
            <p class="text-3xl font-bold text-purple-600" id="metric4">-</p>
        </div>
        <div class="bg-orange-50 rounded-lg p-4 shadow-sm">
            <h2 class="text-lg font-semibold text-orange-800"></h2>
            <p class="text-3xl font-bold text-orange-600" id="metric4">-</p>
        </div>
    </div>
      
        
      
        
        <!-- Contenedor con desplazamiento horizontal -->
        <div class="bg-white rounded-lg shadow p-4 mb-6">
            <div class="table-container">
                <!-- Encabezados de la tabla -->
                <div class="bg-gray-100 p-3 rounded-md mb-3">
                    <div id="data-headers" class="grid grid-cols-12 gap-4 min-w-max">
                        <!-- Los encabezados se generarán dinámicamente -->
                    </div>
                </div>
                
                <!-- Datos -->
                <div id="data-list" data-source="data/workflow-statistics.json" class="min-w-max">
                    <!-- Los elementos de datos se cargarán dinámicamente -->
                </div>
            </div>
            
            <!-- Paginación dinámica -->
            <div id="pagination" class="flex justify-center my-6">
                <!-- La paginación se generará dinámicamente -->
            </div>
        </div>
    </div>

    <!-- Incluir primero data-list.js y luego actionsPerformance.js -->
    <script src="../js/data-list.js"></script>
    <script src="../js/handlerSuccess.js"></script>
</body>
</html>