apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - components.yaml

patches:
  - path: patch-insecure.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: metrics-server
      namespace: kube-system
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/ports
        value:
          - containerPort: 4443
            name: https
            protocol: TCP
