<div>
    <h2 class="text-2xl font-bold mb-2" data-placeholder="TITLE">{{TITLE}}</h2>
    <p class="text-gray-600 mb-4" data-placeholder="DESCRIPTION">{{DESCRIPTION}}</p>
</div>

<div class="grid grid-cols-3 text-center gap-7 h-full w-full">
    <div class="bg-white rounded-2xl py-7 shadow-md flex items-center justify-center shadow-xl" data-placeholder="TARGET1">{{TARGET1}}</div>
    <div class="bg-white rounded-2xl py-7 shadow-md flex items-center justify-center col-start-2 shadow-xl" data-placeholder="TARGET2">{{TARGET2}}</div>
    <div class="bg-white rounded-2xl py-7 shadow-md flex items-center justify-center col-start-3 shadow-xl" data-placeholder="TARGET3">{{TARGET3}}</div>
    <div class="bg-white rounded-2xl py-[60%] shadow-md flex items-center justify-center row-start-2 col-start-1 shadow-xl">2</div>
    <div class="bg-white rounded-2xl py-[60%] shadow-md flex items-center justify-center row-start-2 col-start-2 shadow-xl">4</div>
    <div class="bg-white rounded-2xl py-[60%] shadow-md flex items-center justify-center row-start-2 col-start-3 shadow-xl">6</div>
</div>