<div class="grid grid-cols-5 text-center grid-rows-5 gap-4 h-full w-full">
    <div class="bg-white rounded-2xl py-10 shadow-md flex items-center justify-center">1</div>
    <div class="row-span-4 col-start-1 bg-white rounded-2xl py-10 row-start-2 shadow-md flex items-center justify-center">2</div>
    <div class="col-start-2 row-start-1 bg-white rounded-2xl py-10 shadow-md flex items-center justify-center">3</div>
    <div class="row-span-4 col-start-2 row-start-2 bg-white rounded-2xl py-10 shadow-md flex items-center justify-center">4</div>
    <div class="col-start-3 row-start-1 bg-white rounded-2xl py-10 shadow-md flex items-center justify-center">5</div>
    <div class="row-span-4 row-start-2 bg-white rounded-2xl py-10 shadow-md flex items-center justify-center">6</div>
</div>