<footer class="bg-white shadow-2xl rounded-xl py-6 md:py-6 px-2 w-[97%] sm:w-[97%] mt-auto">
    <div class="flex flex-col items-center">
        <div class="flex flex-wrap justify-center gap-3">
            <a href="https://app.codacy.com/gh/SantaKa0S/kaos/dashboard?utm_source=gh&utm_medium=referral&utm_content=&utm_campaign=Badge_grade" target="_blank" rel="noopener noreferrer">
                <img src="https://app.codacy.com/project/badge/Grade/203720c203a84af7a9d888680a047df4" alt="Codacy Badge" class="h-6">
            </a>
            <a href="https://www.gnu.org/licenses/gpl-3.0" target="_blank" rel="noopener noreferrer">
                <img src="https://img.shields.io/badge/License-GPLv3-blue.svg" alt="License: GPL v3" class="h-6">
            </a>
        </div>
        <p class="text-dark text-xs mt-2">Ka0s Project - GitHub</p>
    </div>
</footer>
