name: Ka0s iTop Triggered Workflow

on:
  workflow_dispatch:
    inputs:
      itop_ticket_id:
        description: 'ID del ticket de iTop'
        required: true
        default: 'N/A'
      requester_name:
        description: 'Nombre del solicitante'
        required: true
        default: 'Ka0sC0re'

jobs:
  job-core:
    runs-on: swarm-runners-scaleset
    outputs:
      status: ${{ job.status }}
    steps:
      - name: Print iTop Data
        run: |
          echo "Workflow iniciado desde iTop."
          echo "ID del Ticket: ${{ github.event.inputs.itop_ticket_id }}"
          echo "Solicitante: ${{ github.event.inputs.requester_name }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run automation script
        id: automation
        run: |
          echo "Ejecutando la tarea automatizada..."
          # exit 1 # Uncomment to test failure case

  update-itop:
    runs-on: swarm-runners-scaleset
    needs: job-core
    if: always()
    steps:
      - name: Update iTop on Success
        if: needs.job-core.outputs.status == 'success'
        run: |
          curl -k -X POST "${{ secrets.ITOP_URL }}/webservices/rest.php?version=1.3" \
          --header "Content-Type: application/x-www-form-urlencoded" \
          -u "${{ secrets.ITOP_API_USER }}:${{ secrets.ITOP_API_PASSWORD }}" \
          --data-urlencode 'json={
            "operation": "core/apply_stimulus",
            "class": "UserRequest",
            "key": "${{ github.event.inputs.itop_ticket_id }}",
            "stimulus": "ev_resolve",
            "comment": "Solución provista por Asistencia. El workflow de GitHub ha finalizado con éxito."
          }'

      - name: Update iTop on Failure
        if: needs.job-core.outputs.status == 'failure'
        run: |
          ERROR_URL="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          curl -k -X POST "${{ secrets.ITOP_URL }}/webservices/rest.php?version=1.3" \
          --header "Content-Type: application/x-www-form-urlencoded" \
          -u "${{ secrets.ITOP_API_USER }}:${{ secrets.ITOP_API_PASSWORD }}" \
          --data-urlencode "json={
            \"operation\": \"core/update\",
            \"class\": \"UserRequest\",
            \"key\": \"${{ github.event.inputs.itop_ticket_id }}\",
            \"fields\": {
              \"public_log\": {
                \"add_comment\": \"Solución provista por Asistencia. El workflow de GitHub ha fallado. Por favor, revise los logs para más detalles: ${ERROR_URL}\"
              }
            }
          }"
