name: OPS Delete Pod

on:
  workflow_dispatch:
    inputs:
      pod_name:
        description: 'Name of the pod to delete'
        required: true
        type: string
      namespace:
        description: 'Namespace of the pod'
        required: true
        default: 'soc'
        type: string
      force:
        description: 'Force delete (grace period 0)'
        required: false
        default: false
        type: boolean

jobs:
  delete-pod:
    runs-on: self-hosted
    steps:
      - name: Delete Pod
        run: |
          echo "Deleting pod ${{ inputs.pod_name }} in namespace ${{ inputs.namespace }}..."
          CMD="kubectl delete pod ${{ inputs.pod_name }} -n ${{ inputs.namespace }}"
          
          if [ "${{ inputs.force }}" = "true" ]; then
            CMD="$CMD --grace-period=0 --force"
          fi
          
          echo "Executing: $CMD"
          $CMD
