name: 'Ka0s Test Kubectl Tunnel'

on:
  workflow_dispatch:

env:
  KAOS_MODULE: "[Ka0S] Kubectl Tunnel Test"

jobs:
  test-tunnel:
    runs-on: swarm-runners-scaleset
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Kubectl Tunnel
        uses: ./.github/actions/kubectl-tunnel
        with:
          host: ${{ secrets.KAOS_SSH_HOST_1 }}
          username: ${{ secrets.KAOS_SSH_USER }}
          key: ${{ secrets.KAOS_SSH_KEY_PRIV }}
          port: ${{ secrets.KAOS_SSH_PORT_1 }}
      
      - name: Run Kubectl Command
        run: |
          echo "Listing Pods in all namespaces..."
          kubectl get pods -A

  handle-success:
    runs-on: swarm-runners-scaleset
    needs: [test-tunnel]
    if: ${{ success() }}
    steps: 
      - id: handle-success-execution
        run: |
          echo "${{ env.KAOS_MODULE }} Success in runid ${{ github.run_id }} initiated."
          
  handle_failure:
      runs-on: swarm-runners-scaleset
      needs: [test-tunnel]
      if: ${{ failure() }} 
      steps: 
        - id: check-execution
          run: |
            echo "Error detected in ${{ env.KAOS_MODULE }}, creating issue..."
