name: 'Test Swarm Runners'

on:
  # workflow_dispatch: # Permite la ejecución manual desde la pestaña "Actions"
  schedule:
      - cron: '*/5 * * * *'  # Se ejecuta cada 5 minutos
permissions:
  contents: read
  actions: write
  issues: write

jobs:
  test-runner:
    name: 'Run a test job on a Swarm runner'
    
    # ¡Esta es la parte más importante!
    # El trabajo solo se ejecutará en un runner que tenga TODAS estas etiquetas.
    runs-on: swarm-runners-scaleset

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v4

      - name: 'Show runner hostname and working directory'
        run: |
          echo "¡Hola desde un runner autoescalado en Docker Swarm!"
          echo "El hostname de este runner es: $(hostname)"
          echo "Estoy ejecutando el trabajo en el directorio:"
          pwd
          ls -la
