name: Ka0s Cluster System Update
on:
  workflow_dispatch:
    inputs:
      results-path:
        description: 'Path in the repository to store results'
        required: false
        default: 'audit/hosts/'

permissions:
  contents: write
  actions: write
  issues: write

env:
  KAOS_MODULE: "[Ka0S] Cluster Update"
  KAOS_PATH_RESUME: ${{ github.event.inputs.results-path || 'audit/hosts/' }}
  KAOS_CODE: ${{ github.run_id }}

jobs:
  update-cluster:
    runs-on: swarm-runners-scaleset
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Execute Update Script
        uses: ./.github/actions/ssh-exec
        with:
          host: ${{ secrets.KAOS_SSH_HOST_1 }}
          username: ${{ secrets.KAOS_SSH_USER }}
          key: ${{ secrets.KAOS_SSH_KEY_PRIV }}
          port: ${{ secrets.KAOS_SSH_PORT_1 }}
          pass: ${{ secrets.KAOS_SSH_PASS }}
          use-sudo: true
          script-path: 'devops/core/host/system-update.sh'
          # Arguments: $1=RemoteResultsDir, $2=SudoPass, $3=WorkerSSHPass
          script-args: "/tmp/kaos_update ${{ secrets.KAOS_SSH_PASS }} ${{ secrets.KAOS_WORKER_SSH_PASS }}"
          remote-results-path: '/tmp/kaos_update/'
          local-results-path: ${{ env.KAOS_PATH_RESUME }}

      - name: Commit and Push Logs
        run: |
          git config --global user.name "${{ secrets.KAOS_BOT_NAME }}"
          git config --global user.email "${{ secrets.KAOS_BOT_EMAIL }}"
          git pull origin ${{ github.ref }}
          git add ${{ env.KAOS_PATH_RESUME }}*
          if ! git diff --staged --quiet; then
             git commit -m "[Ka0S] Cluster Update Logs - Run ${{ github.run_id }}"
             git push origin ${{ github.ref }}
          else
             echo "No changes to commit."
          fi

      - name: Send Telegram Notification (Success)
        if: success()
        continue-on-error: true
        uses: ./.github/actions/telegram-notify
        with:
          token: ${{ secrets.TELEGRAM_TOKEN }}
          chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
          status: 'success'
          workflow: 'Cluster Update'
          run_id: ${{ github.run_id }}

      - name: Send Telegram Notification (Failure)
        if: failure()
        continue-on-error: true
        uses: ./.github/actions/telegram-notify
        with:
          token: ${{ secrets.TELEGRAM_TOKEN }}
          chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
          status: 'failure'
          workflow: 'Cluster Update'
          run_id: ${{ github.run_id }}
