name: Ka0S Version
on:
  pull_request:
    types: [opened]
    branches:
      - 'main'
permissions:
  contents: write
  actions: write
  issues: write
env:
  KAOS_MODULE: "[Ka0S] VERSION"
  GH_TOKEN: ${{ secrets.KAOS_REPO_TOKEN }}
  PATH_RESUME: "core/config/"
  KAOS_REPO: "/actions-runner/_work/kaos/kaos"
  KAOS_STEP_MODULE: ""
  KAOS_CODE: ${{ github.run_id }}
  GH_VERSION: ""
  
jobs:
  job-core:
    if: github.event.pull_request.state == 'open'
    runs-on: swarm-runners-scaleset
    outputs:
      KAOS_BRANCH: ${{ steps.commit_details.outputs.RNBRANCH }}
      KAOS_NUMBER: ${{ steps.commit_details.outputs.RNNUMBER }}
      KAOS_VERSION: ${{ steps.version.outputs.VERSION }}
      KAOS_FILES: ${{ steps.changed_files.outputs.CHANGED_FILES }}
      AUTHOR_NAME: ${{ steps.commit_details.outputs.AUTHOR_NAME }}
      AUTHOR_EMAIL: ${{ steps.commit_details.outputs.AUTHOR_EMAIL }}
      COMMIT_MESSAGE: ${{ steps.commit_details.outputs.COMMIT_MESSAGE }}
      
    steps:
    - id: repo
      name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.KAOS_REPO_TOKEN }}

    - id: commit_details
      name: Get commit details
      run: |
        RNNUMBER=$(echo "${{ github.event.pull_request.title }}" | grep -o '[0-9]*')
        gh issue comment $RNNUMBER --body "Se inicia Version ${{ env.KAOS_CODE }}"
        echo "GH_VERSION=$(gh api repos/:owner/:repo/git/matching-refs/tags --jq '.[-1].ref' | sed 's|refs/tags/||')" >> $GITHUB_ENV
        echo "AUTHOR_NAME=$(git log -1 --pretty=format:'%an')" >> $GITHUB_OUTPUT
        echo "AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')" >> $GITHUB_OUTPUT
        echo "COMMIT_MESSAGE=${{ github.event.pull_request.title }}" >> $GITHUB_OUTPUT
        RNBRANCH=$(echo "${{ github.event.pull_request.title }}" | grep -o '^[A-Za-z]*')
        RNNUMBER=$(echo "${{ github.event.pull_request.title }}" | grep -o '[0-9]*')
        echo "Extracted RN Branch: $RNBRANCH"
        echo "Extracted RN Number: $RNNUMBER"
        echo "RNBRANCH=$RNBRANCH" >> $GITHUB_OUTPUT
        echo "RNNUMBER=$RNNUMBER" >> $GITHUB_OUTPUT 

    - id: version
      name: Get version
      run: |
        if [ ! -f ${{ env.GH_VERSION }} ]; then echo "${{ env.GH_VERSION }}" > version.txt; fi
        VERSION=${{ env.GH_VERSION }}
        IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"
        if [[ "${{ steps.commit_details.outputs.RNBRANCH }}" =~ (H) ]]; then
          PATCH=$((PATCH + 1))
        elif [[ "${{ steps.commit_details.outputs.RNBRANCH }}" =~ (F) ]]; then
          MINOR=$((MINOR + 1))
          PATCH=0
        elif [[ "${{ steps.commit_details.outputs.RNBRANCH }}" =~ (RN) ]]; then
          MAJOR=$((MAJOR + 1))
          MINOR=0
          PATCH=0
        fi
        
        NEW_VERSION="$MAJOR.$MINOR.$PATCH"
        echo "VERSION=$NEW_VERSION" >> $GITHUB_OUTPUT
        echo "GH_VERSION=$NEW_VERSION" >> $GITHUB_ENV

    - id: changed_files
      name: Get changed files
      run: |
        CHANGED_FILES=$(git diff --name-only HEAD~1 | tr '\n' ' ')
        echo "CHANGED_FILES=$CHANGED_FILES" >> $GITHUB_OUTPUT

    - id: changelog
      name: Update changelog
      env:
        VERSION: ${{ steps.version.outputs.VERSION }}
        CHANGE_FILES: ${{ steps.changed_files.outputs.CHANGED_FILES }}
        NAME: ${{ steps.commit_details.outputs.AUTHOR_NAME }}
        EMAIL: ${{ steps.commit_details.outputs.AUTHOR_EMAIL }}
        MESSAGE: ${{ steps.commit_details.outputs.COMMIT_MESSAGE }}
      run: |
        echo "## Version ${{ env.VERSION }}" >> CHANGELOG.md
        echo "- **Branch**: ${{ github.ref }}" >> CHANGELOG.md
        echo "- **Commit**: $(git log -1 --pretty=format:'%s' ${{ github.event.pull_request.head.sha }})" >> CHANGELOG.md
        echo "- **Author**: ${{ env.NAME }}" >> CHANGELOG.md
        echo "- **Date**: $(date -u)" >> CHANGELOG.md
        echo "- **Message**: ${{ env.MESSAGE }}" >> CHANGELOG.md
        echo "- **Files Changed**:" >> CHANGELOG.md
        for file in ${{ env.CHANGE_FILES }}; do echo "  - $file" >> CHANGELOG.md; done
        echo "---------------------------------" >> CHANGELOG.md

    - id: push-log-tag-index
      name: Push log, tag and index
      env:
        USER_NAME: ${{ secrets.KAOS_BOT_NAME }}
        USER_EMAIL: ${{ secrets.KAOS_BOT_EMAIL }}
      run: |
        git config --global user.name '${{ env.USER_NAME }}'
        git config --global user.email '${{ env.USER_EMAIL}}'
        git tag -a "${{ steps.version.outputs.VERSION }}" -m "${{ env.KAOS_MODULE }} NEW Ka0S version ${{ steps.version.outputs.VERSION }}"
        git push origin "${{ steps.version.outputs.VERSION }}"
        if [ ! -f INDEX_VERSION.md ]; then echo "# Version Index" > INDEX_VERSION.md; fi
        echo "- **Version**: ${{ steps.version.outputs.VERSION }} - **Description**: ${{ steps.commit_details.outputs.COMMIT_MESSAGE }}" >> INDEX_VERSION.md
        git add INDEX_VERSION.md CHANGELOG.md
        git commit -m "${{ env.KAOS_MODULE }}  Upload: CHANGELOG.md, INDEX_VERSION.md with version ${{ steps.version.outputs.VERSION }}"
        git push origin HEAD:${{ github.head_ref }}

    - id: failure-delete-tag
      name: Delete tag on failure
      if: ${{ failure() }}
      run: |
        # Antes de nada borramos el tag asignado en el paso anterior
        git push origin --delete "${{ steps.version.outputs.VERSION }}"
        KAOS_ISSUE_BODY="Sentimos comunicarle que no se cumplen los requerimientos, por favor revise los checks"
        # gh workflow run issue.yaml --ref main -f kaos-issue-id="${{ github.event.pull_request.number }}" -f kaos-issue-body="$KAOS_ISSUE_BODY" -f kaos-issue-actions=comment
  handle-success:
    runs-on: swarm-runners-scaleset
    needs: [job-core]
    if: ${{ success() }}
    steps:
      - id: repo
        name: Checkout code
        if: ${{ always() }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.KAOS_REPO_TOKEN }}
      - id: handle-success-execution
        name: handle-success-execution
        env:
          GH_TOKEN: ${{ secrets.KAOS_REPO_TOKEN }}
        run: |
          # Si todo ha ido correcto añadimos el contenido del fichero 
          RNNUMBER=$(echo "${{ github.ref }}" | grep -o '[0-9]*')
          gh issue comment $RNNUMBER --body "El proceso ha finalizado correctamente ${{ env.KAOS_CODE }}. El resultado está en el fichero ${{ env.KAOS_CODE }}.log"
  handle_failure:
    runs-on: swarm-runners-scaleset
    needs: [job-core, handle-success]
    if: ${{ failure() }} 
    steps:
      - id: repo
        name: Checkout code
        if: ${{ always() }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.KAOS_REPO_TOKEN }}
      - id: handle-failure-execution
        name: handle-failure-execution
        env:
          GH_TOKEN: ${{ secrets.KAOS_REPO_TOKEN }}
        run: |
          echo "Error detected in process"
          echo "Created issue"
          gh issue create  --title "${{ env.KAOS_MODULE }} Error detected in ${{ env.KAOS_CODE }}" --label "bug" --body "Please check the logs 'https://github.com/Ka0s-Klaus/ka0s/actions/runs/${{ env.KAOS_CODE }}' for more information of error."
          echo "Add comment to origin target"
          RNNUMBER=$(echo "${{ github.ref }}" | grep -o '[0-9]*')
          gh issue comment $RNNUMBER --body "El proceso no ha finalizado correctamente ${{ env.KAOS_CODE }}. El resultado está en el fichero ${{ env.KAOS_CODE }}.log"
  end-workflow:
    runs-on: swarm-runners-scaleset
    needs: [job-core, handle-success, handle_failure]
    if: ${{ always() }} 
    env:
        GH_TOKEN: ${{ secrets.KAOS_ACTIONS_TOKEN }}
    steps:
      - id: repo
        name: Checkout code
        if: ${{ always() }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.KAOS_REPO_TOKEN }}
      - id: end-process
        name: Finaliza el workflow
        run: |
          echo "End process"
          RNNUMBER=$(echo "${{ github.ref }}" | grep -o '[0-9]*')
          gh issue comment $RNNUMBER --body "Se finaliza Ka0s ${{ env.KAOS_CODE }}"
          gh workflow run inspector.yml --ref 'main' -f kaos-issue-id=$RNNUMBER -f kaos-workflow-id="${{ env.KAOS_CODE }}" -f kaos-user-start=""
